:root {
  // Fonts
  --font-family-main: consolas, "Verdana", monospace;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // Dimensions
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 50px;

  // Z-indices
  --z-index-modal: 10;

  // Цвета
  --overlay: rgb(0 0 0 / 60%);
  --light-red: rgb(240 78 78);
  --dark-red: rgb(209 75 75);
}
