.title {
  color: var(--primary-color);
  font: var(--font-l);
}

.textContent {
  color: var(--secondary-color);
  font: var(--font-m);
}

.error {
  .title {
    color: var(--light-red);
  }

  .textContent {
    color: var(--dark-red);
  }
}
