@import "https://fonts.googleapis.com/css?family=Montserrat:400,400i,700";

$bg: var(--bg-color);
$ghost: var(--primary-color);
$heading: var(--inverted-bg-color);

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $bg;
  font-family: Montserrat, sans-serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: $heading;
  font-size: 12.5rem;
  letter-spacing: 0.1em;
  margin: 0.025em 0 0.2em;
  text-shadow: 0.05em 0.05em 0 rgb(0 0 0 / 25%);
  white-space: nowrap;

  @media (max-width: 30rem) {
    font-size: 8.5rem;
  }

  & > span {
    padding: 0 8px;
    animation: spooky 2s alternate infinite linear;
    color: $ghost;
    display: inline-block;
    filter: drop-shadow(8px 8px 2px rgb(0 0 0 / 50%));
  }
}

h2 {
  color: $heading;
  margin-bottom: 0.4em;
}

p {
  color: var(--secondary-color);
  margin-top: 0;
}

@keyframes spooky {
  from {
    transform: translateY(0.15em) scaleY(0.95);
  }

  to {
    transform: translateY(-0.15em);
  }
}

.back {
  text-decoration: underline;
  color: var(--primary-color);
}
