.button {
  color: var(--primary-color);
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  outline: none;
}

.clear {
  background: none;
  padding: 0;
}

.background {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.background-inverted {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.square {
  padding: 0;
  width: 40px;
  height: 40px;
}

.round {
  border-radius: 7px;
}

.square.size-m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font-size: var(--font-size-m);
}

.square.size-l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font-size: var(--font-size-l);
}

.square.size-xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font-size: var(--font-size-xl);
}
