.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s ease-in;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 24px;
  gap: 20px;
}

.collapseBtn {
  position: absolute;

  @debug -1 * 4px;

  right: calc(-1 * var(--font-line-l));
  bottom: 40px;
}
