.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s ease-in;
}

.switchers {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 24px;
  gap: 20px;
  transition: all 0.5s;
}

.collapseBtn {
  position: absolute;
  right: calc(-1 * var(--font-line-l));
  bottom: 40px;
}

.links {
  margin-left: 15px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    display: flex;
    flex-direction: column;
  }
}
