.app.dark {
  --bg-color: rgb(51, 51, 61);
  --inverted-bg-color: #ccccc2;

  --primary-color: #2caa82;
  --secondary-color: #394944;
  --inverted-primary-color: #725cec;
  --inverted-secondary-color: #8e9cac;
}