:root {
  --bg-color: rgb(190 190 207);
  --inverted-bg-color: rgb(51 51 61);
  --primary-color: #725cec;
  --secondary-color: #737980;
  --inverted-primary-color: #2caa82;
  --inverted-secondary-color: #394944;
}
